<!--<table class="training-table">
  <thead>
    <tr>
      <th>Document</th>
      <th *ngFor="let initials of employeeInitials">{{ initials }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableRows">
      <td>{{ row.procedure }}</td>
      <td *ngFor="let initials of employeeInitials"
          [ngClass]="getCssClass(row[initials])">
        {{ row[initials] || '-' }}
      </td>
    </tr>
  </tbody>
</table>-->

<div class="training-table-wrapper">
  <table class="training-table">
    <tr *ngFor="let row of getTransposedMatrix()">
      <td *ngFor="let cell of row" [ngClass]="getCssClass(cell)">
        {{ cell }}
      </td>
    </tr>
  </table>
</div>




