
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #1E90FF; 
  align-items: center;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.nav-item {
  flex: 1;
  text-align: center;
  background-color: #1E90FF;
  padding: 15px;
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none; 
}

.nav-item:hover {
  background-color: #00BFFF;
}

  .nav-item.active {
    background-color: #3547b8;
    
  }

.icon {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-left: auto; 
}


.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
}
