<!-- navbar.component.html -->
<nav class="navbar">
  <div class="nav-item active" routerLink="/admin-compliance" routerLinkActive="active">
    <i class="icon">📊</i>
    <span>Compliance</span>
  </div>
  <div class="nav-item" routerLink="/admin-employee" routerLinkActive="active">
    <i class="icon">💻</i>
    <span>Employee Compliance</span>
  </div>
  <div class="nav-item" routerLink="/procedures" routerLinkActive="active">
    <i class="icon">📄</i>
    <span>Procedure</span>
  </div>
  <div class="nav-item" routerLink="/employees" routerLinkActive="active">
    <i class="icon">👤</i>
    <span>Employees</span>
  </div>
  <div class="nav-item active" routerLink="/roles-required-training" routerLinkActive="active">
    <i class="icon">📊</i>
    <span>Roles Required Training</span>
  </div>
  <div class="profile-icon"></div>
</nav>



<router-outlet></router-outlet>
